<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="title">Title</label>
        <input [(ngModel)]="product.title" name="title" #title="ngModel" required 
          id="title" type="text" class="form-control"
          [ngClass]="{ 'is-invalid': title.touched && title.invalid }">
        <div class="invalid-feedback" *ngIf="title.touched && title.invalid">
          <div *ngIf="title.hasError('required')">Title is Required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input [(ngModel)]="product.price" #price="ngModel" required name="price" 
            id="price" type="number" class="form-control" [min]="0"
            [ngClass]="{ 'is-invalid': price.touched && price.invalid }">
          <div class="invalid-feedback" *ngIf="price.touched && price.invalid">
            <div *ngIf="price.hasError('required')">Price is Required</div>
            <div *ngIf="price.hasError('min')">Price should be 0 or higher.</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select [(ngModel)]="product.category" name="category" #category="ngModel"
          required id="category" class="form-control"
          [ngClass]="{ 'is-invalid': category.touched && category.invalid }">
          <option value=""></option>
          <option *ngFor="let category of categories$ | async" [value]="category.key">
            {{ category.name }}
          </option>
        </select>
        <div class="invalid-feedback" *ngIf="category.touched && category.invalid">
          <div *ngIf="category.hasError('required')">Category is Required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input [(ngModel)]="product.imageUrl" name="imageUrl" #imageUrl="ngModel" required
           id="imageUrl" type="text" class="form-control" url
           [ngClass]="{'is-invalid': imageUrl.touched && imageUrl.invalid}">
        <div class="invalid-feedback" *ngIf="imageUrl.touched && imageUrl.invalid">
          <div *ngIf="imageUrl.hasError('required')">Image URL is Required</div>
          <div *ngIf="imageUrl.hasError('url')">Please enter a valid URL.</div>
        </div>
      </div>
      <!-- By default button submit the form. So Delete button must type 'button' -->
      <button class="btn btn-primary mr-1">Save</button>
      <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
    </form>
  </div>
  <div class="col-md-6">
    <product-card [product]="product" [show-actions]="false"></product-card>
  </div>
</div>